<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="UrlExpireTime" value="30"/>
  <add key="RedisContext" value="127.0.0.1:6379"/>
  <add key="RedisAdmin" value="allowAdmin=true"/>
    <!--0：本地  1：线上 -->
  <add key="IsWWWOnLine" value="0" />
  <add key="RedisPageSize" value="100"/>
  <!--是否启用数据请求压缩 0：不启用  1：压缩 -->
  <add key="Compression" value="1" />
  <!--平台账号Id-->

  <!--PC 管理后台客户端-->
  <add key="StaffId_1001" value="1000"/>
  <add key="StaffKey_1001" value="96C909BD-E6B8-4CFF-987C-2B914BF9C5C5"/>

</appSettings>