<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="WisdomScenicDbContextWrite"
	  connectionString="
       Server=119.23.132.111;
       Initial Catalog=WisdomScenic;
       User ID=sa;
       Password=sql2012.;
       Connect Timeout=18000;
       Max Pool Size=2000"
	  providerName="System.Data.SqlClient" />

</connectionStrings>